<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"> <!--设置移动端的预览-->
    <title>标签管理</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">

</head>
<body>

<!--    管理员导航-->
<div th:replace="common :: adminMenu(3)" class="ui inverted attached segment me-padded-tb-mini me-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui blue header item">管理后台</h2>
            <a href="#" class="m-item item me-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item me-mobile-hide"><i class="clone icon"></i>分类</a>
            <a href="#" class="m-item item me-mobile-hide active"><i class="tags icon"></i>标签</a>
            <div class="right m-item me-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/aboutMe.jpg" alt="" class="ui avatar image" >
                        <span>肖剑波</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu black icon button me-right-top me-mobile-show" id="adminMenuToggle">
        <i class="sidebar icon"></i>
    </a>
</div>

<!--导航下面的新增与列表-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="blue active item">列表</a>
        </div>
    </div>
</div>


<!--    中间内容-->
<div class="me-container-small me-padded-tb-middle">
    <div class="ui container">
<!--        操作提示按钮-->
        <div class="ui blue message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p th:text="${message}">操作成功</p>
        </div>

        <table class="ui compact blue table">
            <thead>
            <tr align="center">
                <th width="10%">ID</th>
                <th width="47%">名称</th>
                <th width="43%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" th:each="tag,iterStat : ${pageInfo.list}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${tag.name}">关于刻意练习学习</td>
                <td>
                    <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id},name=${tag.name},pageNum=${pageInfo.pageNum})}" class="ui basic blue button">编辑</a>
                    <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id},pageNum=${pageInfo.pageNum})}" class="ui basic red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" >
                    <div class="ui inverted divided stackable grid">
                        <div class="three wide column" align="center">
                            <a class="item" th:href="@{/admin/tags(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">上一页</a>
                        </div>

                        <div class="ten wide column" align="center">
                            <p>第 <span th:text="${pageInfo.pageNum}"></span> 页，共 <span th:text="${pageInfo.pages}"></span> 页，有 <span th:text="${pageInfo.total}"></span> 个标签</p>
                        </div>

                        <div class="three wide column" align="center">
                            <a class="item" th:href="@{/admin/tags(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页</a>
                        </div>
                    </div>
                    <div align="center" class="me-padded-tb-small">
                        <a href="#" th:href="@{/admin/tags/input}">
                            <button type="button" class="ui blue basic button"><i class="pencil icon"></i>新增</button>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>

        </table>

    </div>
</div>

<br/>
<br/>

<!--底部footer-->
<div th:replace="common :: footer" class="ui inverted vertical segment me-padded-tb-massive">

    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header me-text-thin me-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事 （User Story）</a>
                    <a href="#" class="item">用户故事 （User Story）</a>
                    <a href="#" class="item">用户故事 （User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header me-text-thin me-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: xjb19990106@163.com</a>
                    <a href="#" class="item">QQ: 2480662125</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header me-text-thin me-text-spaced">MyBlog</h4>
                <div class="ui inverted link list">
                    <div class="item">
                        <p class="me-text-thin me-text-spaced">这是我的个人博客、记录学习进度和关于编程、写作、思考相关的任何内容...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="me-text-thin me-text-spaced me-opacity-tiny">Copyright © 2021 - 2021  XJB   Designed by Bo</p>
    </div>

</div>


<div th:include="common :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</div>

<script>
    $('#adminMenuToggle').click(function (){
        $('.m-item').toggleClass('me-mobile-hide');
    });
    $('#visitorsMenuToggle').click(function (){
        $('.m-item').toggleClass('me-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close').on('click',function () {
        $(this).closest('.message').transition('fade');
    });

</script>
</body>
</html>